body{
    background-color: rgb(139, 138, 134);
}

#app-container {
    padding-top: 70px;
}

#searchInput{
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#recipeSubmitForm {
    padding-top: 10px;
}

.remove-para {
    padding: 20px 20px 0 0;
}

#remove-recipe, #remove-all {
    background-color: none;
    color: rgb(220, 159, 46);
}

#remove-recipe:hover, #remove-all:hover {
    cursor: pointer;
    color: rgb(220, 98, 46);
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.7) !important;
    background-image: url(dodgers.png);
    background-blend-mode: color;
    background-size: cover;
  }

.jumbotron > h1 {
    font-family: 'Pacifico', cursive;
}

input, textarea {
    display: block;
}

.hide {
    display: none;
}

#submitRecipe {
    float: right;
}